/* Colors | CSS Global Variables */


:root {
    --clr-primary-red300: hsl(12, 88%, 59%);
    --clr-primary-blue900: hsl(228, 39%, 23%);

    --clr-neutral-blue900: hsl(227, 12%, 61%);
    --clr-neutral-blue990: hsl(233, 12%, 13%);
    --clr-neutral-red100: hsl(13, 100%, 96%);
    --clr-neutral-gray100: hsl(0, 0%, 98%);


    /* Font family */
    --ff-primary: 'Be Vietnam Pro', serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);


    /* Font Weights */

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;


    /* Font Size */

    --fs-300: .8125rem;
    --fs-400: .875rem;
    --fs-500: 1rem;
    --fs-600: 1.875rem
}

body {
    font-size: 16px;
}